<h3>
	<i class="fa fa-angle-right"></i>
	Registro de Evaluaciones
</h3>
<div class="row mt">
  <div class="col-lg-12">
    <div class="content-panel">
      <h4><i class="fa fa-angle-right"></i> Evaluacion</h4>
	
      	<div class=" col-lg-12">
		Bimestre:
		<select id="periodos" class="form-control" ng-change="mtdVer2(periodo, idAsignado, idCurso)" ng-model="periodo" ng-options="value as value.descripcion for (key, value) in periodos">
			<option>Seleccione</option>
		</select>
	</div>        
        <br/><br/>
        <tabset>            
          <tab ng-repeat="actividad in actividades" select="mtdVer1(actividad, idAsignado, idCurso)">
            <tab-heading>{{actividad.descripcion}}</tab-heading>
            <section class="unseen">
            <table class="table table-bordered table-striped table-condensed">
              <thead style="background-color:black; color:white;">
                <tr>
                  <th rowspan="2">Nro.</th>
                  <th rowspan="2">Apellidos y Nombres</th>
                  <th ng-repeat="dimension in dimensiones" colspan="{{ dimension.columnas }}"><center>{{ dimension.dimension}}</center></th>
                  <TH rowspan="2"><center><button class="btn btn-success btn-xs" ng-click="mtdAddCriterio(periodo.id, actividad.id, idAsignado)"><i class=" fa fa-plus"></i></button></center></TH>                    
                </tr>
                <tr>
               	   <th ng-repeat="criterio in criterios"><center>{{criterio.criterio}}&nbsp;<button class="btn btn-danger btn-xs" ng-click="mtdDelCriterio(criterio)"><i class=" fa fa-minus fa-xs"></i></button></center></th>
               	</tr>
              </thead>
              <tbody>
                <tr ng-repeat="estudiante in estudiantes">
                  <td>{{ $index + 1 }}</td>                    
                  <td>{{ estudiante.paterno }} {{ estudiante.materno }}, {{ estudiante.nombres }}</td>                    
                  <td ng-repeat="criterio in criterios" align="right">
                  	<span ng-if="evaluaciones[estudiante.id][criterio.idcriterio]['cuantitativo'] > 0">{{ evaluaciones[estudiante.id][criterio.idcriterio]['cuantitativo'] }} | &nbsp; {{ evaluaciones[estudiante.id][criterio.idcriterio]['cualitativo'] }}</span>
                  	&nbsp;
                  	<button class="btn btn-primary btn-xs" ng-click="mtdEvaluar(estudiante, criterio, idAsignado)"><i class="fa fa-pencil"></i></button>                  
                  </td>
                  <TD></TD>
                </tr>
              </tbody>
            </table>
          </section>
          </tab>
        </tabset>                  
    </div>
  </div>
</div>