<h3>
	<i class="fa fa-angle-right"></i>
	Registro de Evaluaciones
</h3>
<div class="row mt">
  <div class="col-lg-12">
    <div class="content-panel">
      <h4><i class="fa fa-angle-right"></i> Evaluacion</h4>
	    <div class="row">
          <div class="col-sm-6 col-lg-6">
            <div class="form-group" ng-class="{'has-error':newClaseForm.nivel.$error.required, 'has-success':newClaseForm.nivel.$valid}">
              <label class="col-md-4 control-label" for="nivel">Curso:</label>
              <div class="col-md-8">
                <div class="input-group">                                            
                  <select id="nivel" name="nivel" ng-change="mtdSelectCurso(curso)" ng-model="curso" ng-options="value as value.nivel+' - '+value.grado+' - '+value.paralelo+' - '+value.turno for (key, value) in cursos" class="form-control" required>
                    <option value="">-- Seleccione Curso --</option>
                  </select>
                  <span ng-if="newClaseForm.nivel.$error.required" class="glyphicon glyphicon-remove form-control-feedback"></span>
                  <span ng-if="newClaseForm.nivel.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
                </div>
                <span ng-if="newClaseForm.nivel.$error.required" class="help-block">El nivel es requerido</span>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-6">                
            <div class="form-group" ng-class="{'has-error':newClaseForm.grado.$error.required, 'has-success':newClaseForm.grado.$valid}">
              <label class="col-md-4 control-label" for="grado">Asignatura:</label>
              <div class="col-md-8">
                <div class="input-group">                      
                  <select id="grado" name="grado" ng-model="asignado" ng-change="mtdView(curso, asignado)" ng-options="value as value.asignatura for (key, value) in asignados" class="form-control" required>
                    <option value="">-- Seleccione Asignatura --</option>
                  </select>
                  <span ng-if="newClaseForm.grado.$error.required" class="glyphicon glyphicon-remove form-control-feedback"></span>
                  <span ng-if="newClaseForm.grado.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>                      
                </div>
                <span ng-if="newClaseForm.grado.$error.required" class="help-block">El grado es requerido</span>
              </div>
            </div>
          </div>              
      </div> 
      <div class="row">
      	 <div class=" col-lg-6">
          <div class="form-group">
              <label class="col-md-4 control-label" for="periodos"> Bimestre::</label>
              <div class="col-md-8">
                <div class="input-group">                      
                  <select id="periodos" class="form-control" ng-change="mtdVer2(periodo, asignado, curso)" ng-model="periodo" ng-options="value as value.descripcion for (key, value) in periodos">
                     <option>Seleccione</option>
                  </select>
                  <span ng-if="newClaseForm.grado.$error.required" class="glyphicon glyphicon-remove form-control-feedback"></span>
                  <span ng-if="newClaseForm.grado.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>                      
                </div>                
              </div>
            </div>	     
        </div>
	    </div>        
        <br/>
        <tabset>            
          <tab ng-repeat="actividad in actividades" select="mtdVer1(actividad, asignado, curso)">
            <tab-heading>{{actividad.descripcion}}</tab-heading>
            <section class="unseen">
            <table class="table table-bordered table-striped table-condensed">
              <thead style="background-color:black; color:white;">
                <tr>
                  <th rowspan="2">Nro.</th>
                  <th rowspan="2">Apellidos y Nombres</th>
                  <th ng-repeat="dimension in dimensiones" colspan="{{ dimension.columnas }}"><center>{{ dimension.dimension}}</center></th>
                  <TH rowspan="2"><center><span ng-click="mtdAddCriterio(periodo.id, actividad.id, asignado)"><i class=" fa fa-plus"></i></span></center></TH>                    
                </tr>
                <tr>
               	   <th ng-repeat="criterio in criterios"><center>{{criterio.criterio}}&nbsp;<span ng-click="mtdDelCriterio(criterio)"><i class=" fa fa-minus fa-xs"></i></span></center></th>
               	</tr>
              </thead>
              <tbody>
                <tr ng-repeat="estudiante in estudiantes">
                  <td>{{ $index + 1 }}</td>                    
                  <td>{{ estudiante.paterno }} {{ estudiante.materno }}, {{ estudiante.nombres }}</td>                    
                  <td ng-repeat="criterio in criterios" align="right" ng-dblclick="mtdEvaluar(estudiante, criterio, idAsignado)">
                  	<span ng-if="evaluaciones[estudiante.id][criterio.idcriterio]['cuantitativo'] > 0">
                      <span ng-if="evaluaciones[estudiante.id][criterio.idcriterio]['cuantitativo'] >= 51" style="font-size:20px; font-weight: bold; color: black;">{{ evaluaciones[estudiante.id][criterio.idcriterio]['valor'] }} </span>
                      <span ng-if="evaluaciones[estudiante.id][criterio.idcriterio]['cuantitativo'] < 51" style="font-size:20px; font-weight: bold; color:red;">{{ evaluaciones[estudiante.id][criterio.idcriterio]['valor'] }} </span>
                      | &nbsp; &nbsp; {{ evaluaciones[estudiante.id][criterio.idcriterio]['cuantitativo'] }} 
                      | &nbsp; &nbsp; {{ evaluaciones[estudiante.id][criterio.idcriterio]['cualitativo'] }}</span>
                  	&nbsp;                  	
                  </td>
                  <TD></TD>
                </tr>
              </tbody>
            </table>
          </section>
          </tab>
          <tab>
            <tab-heading> Promedio por Dimensiones </tab-heading>
          </tab>
          <tab>
            <tab-heading> Promedio por Actividades </tab-heading>
          </tab>
        </tabset>                  
    </div>
  </div>
</div>