
<div class="row mt">
  <div class="col-lg-12">    
    <div class="row">
      <!-- TWITTER PANEL -->
      <div class="col-lg-4 col-md-4 col-sm-4 mb" ng-repeat="asignado in asignados" ng-click="mtdPlanificacionClases(asignado.id, asignado.curso_id)">
        <div class="planificacion pn centered"> 
          <i class="fa fa-desktop"></i>         
          <div class="info">
            <div class="row">
              <h5 class="centered">Campo: {{asignado.campo}} <br/> Area: {{asignado.areas}} <br/> {{ asignado.asignatura }}</h5>              
            </div>
          </div>
        </div>
      </div>     
    </div><!-- /END ROW OF PANELS --> 
  </div>
</div>
