<h3>
  <i class="fa fa-angle-right"></i>
  Nuevo Curso
</h3>
<div class="row mt" ng-controller="cursoController">
    <div class="col-lg-12">
      <div class="form-panel">
	 <form novalidate="novalidate" class="form-horizontal style-form">
	   <div class="form-group">
             <label class="col-sm-2 col-sm-2 control-label" for="inputGestion">Gestion : </label>
             <div class="col-sm-10">
	        <select id="inputGestion" ng-model="curso.gestion_id" ng-options="value as value.gestion for (key, value) in gestiones" class="form-control">
		  <option>Seleccione</option>
		</select>
             </div>
           </div>
	   <div class="form-group">
             <label class="col-sm-2 col-sm-2 control-label" for="inputUnidadEducativa">Unidad Educativa : </label>
             <div class="col-sm-10">
	        <select id="inputUnidadEducativa" ng-model="curso.unidad_educativa_id" ng-options="value as value.descripcion for (key, value) in unidadesEducativas" class="form-control">
		  <option>Seleccione</option>
		</select>
             </div>
           </div>
           <div class="form-group">
             <label class="col-sm-2 col-sm-2 control-label" for="inputNivel">Nivel : </label>
             <div class="col-sm-10">
	        <select id="inputNivel" ng-change="selectNivel(nivel.id)" ng-model="nivel" ng-options="value as value.descripcion for (key, value) in niveles" class="form-control">
		  <option>Seleccione</option>
		</select>
             </div>
           </div>
           <div class="form-group">
             <label class="col-sm-2 col-sm-2 control-label" for="inputGrado">Grado : </label>
             <div class="col-sm-10">
	        <select id="inputGrado" ng-model="curso.grado_id" ng-options="value as value.descripcion for (key, value) in grados" class="form-control">
		  <option>Seleccione</option>
		</select>
             </div>
           </div>
           <div class="form-group">
             <label class="col-sm-2 col-sm-2 control-label" for="inputParalelo">Paralelo :</label>
             <div class="col-sm-10">
                <select id="inputParalelo" ng-model="curso.paralelo_id" ng-options="value as value.descripcion for (key, value) in paralelos" class="form-control">
		  <option>Seleccione</option>
		</select>
             </div>
           </div>
	   <div class="form-group">
             <label class="col-sm-2 col-sm-2 control-label" for="inputTurno">Turno :</label>
             <div class="col-sm-10">
                <select id="inputTurno" ng-model="curso.turno_id" ng-options="value as value.descripcion for (key, value) in turnos" class="form-control">
		  <option>Seleccione</option>
		</select>
             </div>
           </div>
           <div class="form-group">
            <div class="col-sm-12">
                <a ng-click="cancel()" class="btn btn-small">Cancelar</a>
                <a ng-click="newCurso()" class="btn btn-small btn-primary">Guardar</a>
            </div>
           </div>
	 </form>
       </div>
    </div>
</div>
