
<div class="row mt" ng-controller="menuController">
	<div class="col-lg-12">
		<! -- 1st ROW OF PANELS -->
		<div class="row">
			<!-- TWITTER PANEL -->
			<div class="col-lg-4 col-md-4 col-sm-4 mb" ng-repeat="menu in menus">
				<div class="planificacion pn centered" ng-click="selectMenu(menu.url)">
					<i class="{{ menu.icono }}"></i>					
					<div class="info">
						<div class="row">
							<h3 class="centered">{{ menu.menus }}</h3>							
						</div>
					</div>
				</div>
			</div>

		</div><!-- /END ROW OF PANELS -->			
	</div>
</div>
