<h3>
  <i class="fa fa-angle-right"></i>
  Nueva Unidad Educativa
</h3>
<div class="row mt">
    <div class="col-lg-12">
      <div class="form-panel">
	        <form name="newUnidadEducativaForm" id="newUnidadEducativaForm" novalidate="novalidate" class="form-horizontal style-form">
            <h4 class="mb"><i class=" fa fa-angle-right"></i>
              1.- Datos de la Unidad Educativa
            </h4>
            <input type="hidden" ng-model="unidadEducativa.user_id"/> 
            <div class="row">
              <div class="col-sm-6 col-lg-6">
                <div class="form-group" ng-class="{'has-error': newUnidadEducativaForm.id.$invalid && newUnidadEducativaForm.id.$dirty, 'has-success': !newUnidadEducativaForm.id.$invalid}">
                   <label class="col-md-4 control-label" for="id">Codigo de la Unidad Educativa</label>
                   <div class="col-md-8">
                      <div class="input-group" >
                        <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                        <input type="number" id="id" name="id" class="form-control" ng-required="true" ng-model="unidadEducativa.id" placeholder="Ingrese el Codigo de la Unidad Educativa">                        
                        <span ng-if="newUnidadEducativaForm.id.$invalid && newUnidadEducativaForm.id.$dirty" class="glyphicon glyphicon-remove form-control-feedback"></span>
                        <span ng-if="newUnidadEducativaForm.id.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
                      </div>
                      <span ng-if="newUnidadEducativaForm.id.$invalid && newUnidadEducativaForm.id.$dirty" class="help-block">Codigo de la Unidad Educativa Obligatorio.</span>
                   </div>                   
                </div> 
              </div>
              <div class="col-sm-6 col-lg-6">
                <div class="form-group" ng-class="{'has-error': newUnidadEducativaForm.descripcion.$invalid && newUnidadEducativaForm.descripcion.$dirty, 'has-success': !newUnidadEducativaForm.descripcion.$invalid}">
                   <label class="col-md-4 control-label" for="descripcion">Nombre de la Unidad Educativa</label>
                   <div class="col-md-8">
                      <div class="input-group" >
                        <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                        <input type="text" id="descripcion" name="descripcion" class="form-control" ng-required="true" ng-model="unidadEducativa.descripcion" placeholder="Ingrese el Nombre de la Unidad Educativa">                        
                        <span ng-if="newUnidadEducativaForm.descripcion.$invalid && newUnidadEducativaForm.descripcion.$dirty" class="glyphicon glyphicon-remove form-control-feedback"></span>
                        <span ng-if="newUnidadEducativaForm.descripcion.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
                      </div>
                      <span ng-if="newUnidadEducativaForm.descripcion.$invalid && newUnidadEducativaForm.descripcion.$dirty" class="help-block">Codigo de la Unidad Educativa Obligatorio.</span>
                   </div>                   
                </div>                  
              </div>
            </div>
           <div class="form-group">
            <div class="col-sm-12">
              <!-- user-detail.html: -->
                <a ng-click="cancel()" class="btn btn-small">Cancelar</a>               
              <!-- user-creation.html: -->
                <a ng-disabled="!newUnidadEducativaForm.$valid" ng-click="newUnidadEducativa()" class="btn btn-small btn-primary">Guardar</a>
            </div>
           </div>
	        </form>
       </div>
    </div>
</div>
