<h3>
  <i class="fa fa-angle-right"></i>
  Subir Archivo
</h3>
<div nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">	
	<div class="row mt">
		<div class="col-lg-12">
			<div class="form-panel">
				<div class="row mt">
					<div class="col-lg-12">
						<h3>Seleccionar el Archivo</h3>
						<input nv-file-select="" uploader="uploader" type="file" title="Seleccione el Archivo">
					</div>
				</div>
			
				<h3>Archivos Cargados</h3>
				<p>Tama&ntilde;o: {{ uploader.queue.length }}</p>
				<table class="table">
					<thead>
						<tr>
							<th width="50%">Nombre</th>
							<th ng-show="uploader.isHTML5">Tama&ntilde;o</th>
							<th ng-show="uploader.isHTML5">Progreso</th>
							<th>Estado</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in uploader.queue">
							<td><strong>{{ item.file.name }}</strong></td>
							<td ng-show="uploader.isHTML5" nowrap="nowrap">{{item.file.size/1024/1024|number:2 }} MB</td>
							<td ng-show="uploader.isHTML5">
								<div class="progress" style="margin-bottom: 0pt;">
									<div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
								</div>
							</td>
							<td class="text-center">
								<span ng-show="item.isSuccess">{{item.isSuccess}}</span><span ng-show="item.isCancel"></span><span ng-show="item.isError"></span></td>
							<td nowrap="nowrap">
								<button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess"><span class="glyphicon glyphicon-upload"></span> Subir
								</button>
								<button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading"><span class="glyphicon glyphicon-ban-circle"></span>Cancelar
								</button>
								<button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()"><span class="glyphicon glyphicon-trash"></span>
									Eliminar
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			
				<div>
					<div>Progreso de subida:
						<div class="progress" style="">
							<div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
						</div>
					</div>					
				</div>
			</div>
		</div>
	</div>
</div>