<h3><i class="fa fa-angle-right"></i> Planificaci&oacute;n Anual de Desarrollo Curricular</h3>

<div class="row mt">
  <div class="col-lg-12">
    <div class="content-panel">
      <h4><i class="fa fa-angle-right"></i>Planificaci&oacute;n Anual</h4>

        <div class="row">
          
            <div class="col-lg-12">
              <div class="row">
                <div class="col-sm-6 col-lg-6">
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="gestion"><b>Gestion :</b></label>
                    <div class="col-md-8">
                      <div class="input-group">                                            
                        {{ encabezado.gestion_id }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6">
                  <div class="form-group">
                    
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-6">
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="distrito"><b>Distrito Educativo :</b></label>
                    <div class="col-md-8">
                      <div class="input-group">                                            
                        {{ encabezado.distrito }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6">
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="unidad_educativa"><b>Unidad Educativa :</b></label>
                    <div class="col-md-8">
                      <div class="input-group">                                            
                        {{ encabezado.unidad_educativa }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-6">
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="nivel"><b>Nivel :</b></label>
                    <div class="col-md-8">
                      <div class="input-group">                                            
                        {{ encabezado.nivel }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6">
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="anio"><b>A&ntilde;o de Escolaridad : </b></label>
                    <div class="col-md-8">
                      <div class="input-group">                                            
                        {{ encabezado.grado}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-lg-12">
                  <div class="form-group">
                    <label class="col-md-2 control-label" for="proyecto_socioproductivo"><b>Proyecto Socio Productivo</b></label>
                    <div class="col-md-10">
                      <div class="input-group">
                        <div class="input-group-addon" ng-click="mtdGuardar(encabezado.planificacion_id,  encabezado.curso_id)"><i class="glyphicon glyphicon-floppy-disk"></i></div>
                        <textarea class="col-xs-12 col-md-12" rows="2" cols="6" style="color:#000000;" ng-model="proyecto_socio_productivo" html-text>{{ encabezado.proyecto_socio_productivo }}</textarea>
                      </div>
                    </div>
                  </div>
                </div>               
              </div>
              <div class="row">
                <div class="col-sm-12 col-lg-12">
                  <div class="form-group">
                    <label class="col-md-2 control-label" for="objetivo_general"><b>Objetivo General Anual</b></label>
                    <div class="col-md-10">
                      <div class="input-group">
                        <div class="input-group-addon" ng-click="mtdGuardar(encabezado.planificacion_id,  encabezado.curso_id)"><i class="glyphicon glyphicon-floppy-disk"></i></div>
                        <textarea class="col-xs-12 col-md-12" rows="2" cols="6" style="color:#000000;" ng-model="objetivo_general_anual" html-text>{{ encabezado.objetivo_general_anual }}</textarea>
                      </div>
                    </div>
                  </div>
                </div>               
              </div>
              <div class="row">
                <div class="col-sm-12 col-lg-12">
                  <div class="form-group">
                    <label class="col-md-2 control-label" for="objetivo_holistico"><b>Objetivo Holistico Anual</b></label>
                    <div class="col-md-10">
                      <div class="input-group">
                        <div class="input-group-addon" ng-click="mtdGuardar(encabezado.planificacion_id,  encabezado.curso_id)"><i class="glyphicon glyphicon-floppy-disk"></i></div>
                        <textarea class="col-xs-12 col-md-12" rows="2" cols="6" style="color:#000000;" ng-model="objetivo_holistico_anual" html-text>{{ encabezado.objetivo_holistico_anual }}</textarea>
                      </div>
                    </div>
                  </div>
                </div>               
              </div>    
            </div>
            <br/>
            <div class="col-lg-12">
              <section class="unseen">
              <table class="table table-bordered table-striped table-condensed">
                <thead >
                  <tr style="background-color:#7a31aa; color:white;">
                    <th>Campo</th>
                    <th>Area</th>
                    <th>Contenidos Articulados<br/> (Curriculum Base - Curriculum Regionalizado)</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <select id="campos" class="form-control" ng-change="mtdSelectAreas(campo.id)" ng-model="campo" ng-options="value as value.descripcion for (key, value) in campos"></select>
                    </td>
                    <td>
                      <select id="areas" class="form-control" ng-model="area" ng-options="value as value.descripcion for (key, value) in areas"></select>
                    </td>
                    <td>
                      <select id="periodo" class="form-control" ng-model="periodo" ng-options="value as value.descripcion for (key, value) in periodos"></select>
                      <textarea class="col-xs-12 col-md-12" ng-model="contenido" rows="4" cols="6"></textarea>
                    </td>
                    <td>
                      <center>
                      <button type="button" class="btn btn-theme" ng-click="mtdAddPlanificacion(encabezado.planificacion_id, area.id, periodo.id)"><i class="glyphicon glyphicon-download-alt"></i></button>
                      </center>
                    </td>
                  </tr>
                  <tr ng-repeat="planificacion_detalle in planificacion_detalles">
                    <td>{{ planificacion_detalle.campo }}</td>
                    <td>{{ planificacion_detalle.area }}</td>
                    <td><b>{{ planificacion_detalle.periodo }}</b><br/>{{ planificacion_detalle.contenido }}</td>
                    <td><button type="button" class="btn btn-danger btn-xs" ng-click="mtdDeletePlanificacion(planificacion_detalle.id)">
                        <i class="fa fa-trash-o"></i>
                      </button></td>
                  </tr>
                </tbody>
              </table>
              </section>             
            </div>
          
        </div>
      
    </div>    
  </div>
</div>
