<h3><i class="fa fa-angle-right"></i>Registro de Asistencia</h3>
<div class="row mt" ng-controller="asistenciaController">
	<div class="form-group">
		<label class="col-sm-2 col-sm-2 control-label" for="inputFecha">Fecha</label>
		<div class="col-sm-6">
			<p class="input-group">
				<input type="text" class="form-control" datepicker-popup="{{format}}" is-open="opened" min-date="1999-01-01" max-date="'2025-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-model="asistencia.fecha"/>

				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</p>
			<!-- <input type="text" id="inputPaterno" class="form-control" ng-model="estudiante.fecha_nacimiento"/>-->
		</div>
	</div>
	<br /><br />
	<div class="col-lg-12">
		<input type="hidden" ng-model="asignado_id" value="{{asignado_id}}">
		<table style="border:1px solid black; width:100%">
			<thead style="background-color:#000; color: #FFF">
				<tr>
					<th rowspan="3" style="text-align:center; border:1px solid white; width:5%; ">Nro.</th>
					<th rowspan="3" style="text-align:center; border:1px solid white; width:30%;">Apellidos y Nombres</th>
					<th colspan="8" style="text-align:center; border:1px solid white; width:30%;">MES</th>
					<th rowspan="2" colspan="4" style="text-align:center; border:1px solid white; width:35%;">ASISTENCIA</th>
				</tr>
				<tr>
					<th colspan="8" style="text-align:center; border:1px solid white;">Noviembre</th>
				</tr>
				<tr>
					<th style="text-align:center; border:1px solid white;">&nbsp;2</th>
					<th style="text-align:center; border:1px solid white;">&nbsp;7</th>
					<th style="text-align:center; border:1px solid white;">12</th>
					<th style="text-align:center; border:1px solid white;">17</th>
					<th style="text-align:center; border:1px solid white;">20</th>
					<th style="text-align:center; border:1px solid white;">21</th>
					<th style="text-align:center; border:1px solid white;">27</th>
					<th style="text-align:center; border:1px solid white;">29</th>
					<th style="text-align:center; border:1px solid white;">Asiste</th>
					<th style="text-align:center; border:1px solid white;">Atraso</th>
					<th style="text-align:center; border:1px solid white;">Falta</th>
					<th style="text-align:center; border:1px solid white;">Licencia</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="estudiante in estudiantes">
					<td style="text-align:center; border:1px solid black;">{{ $index + 1 }}.- </td>
					<td style="text-align:left; border:1px solid black;">{{ estudiante.paterno }} {{ estudiante.materno }}, <strong>{{ estudiante.nombres }}</strong></td>
					<td style="text-align:center; border:1px solid black;"></td>
					<td style="text-align:center; border:1px solid black;"></td>
					<td style="text-align:center; border:1px solid black;"></td>
					<td style="text-align:center; border:1px solid black;"></td>
					<td style="text-align:center; border:1px solid black;"></td>
					<td style="text-align:center; border:1px solid black;"></td>
					<td style="text-align:center; border:1px solid black;"></td>
					<td style="text-align:center; border:1px solid black;"></td>
					<td style="text-align:center; border:1px solid black;"><label title="Asiste" class="col-lg-4"><input type="radio" name="opciones_{{$index}}" ng-click="mtdRegistraAsistencia(estudiante.id, 1)" value="1">A</label></td>
					<td style="text-align:center; border:1px solid black;"><label title="Atraso" class="col-lg-4"><input type="radio" name="opciones_{{$index}}" ng-click="mtdRegistraAsistencia(estudiante.id, 2)" value="2">T</label></td>
					<td style="text-align:center; border:1px solid black;"><label title="Falta" class="col-lg-4"><input type="radio" name="opciones_{{$index}}" ng-click="mtdRegistraAsistencia(estudiante.id, 3)" value="3">F</label></td>
					<td style="text-align:center; border:1px solid black;"><label title="Falta con licencia" class="col-lg-4"><input type="radio" name="opciones_{{$index}}" ng-click="mtdRegistraAsistencia(estudiante.id, 4)" value="4">L</label></td>
				</tr>
			</tbody>
		</table>
	</div><!-- /END ROW OF PANELS -->
</div>
