<div ng-controller="asignadosController">

<h3><i class="fa fa-angle-right"></i>Asignaci&oacute;n de Cursos y Asignaturas</h3>

<table class="table table-bordered table-striped table-condensed">
  <thead>
    <tr>
      <th>Nro.</th>
      <th>Nivel</th>
      <th>Grado</th>
      <th>Paralelo</th>
      <th>Turno</th>
      <th>Asignatura</th>
      <th></th>
	   
    </tr>
  </thead>
  <tbody>
  	<tr>
  		<td></td>
  		<td>
	  		<select id="inputNivel" ng-change="selectNivel(nivel.id)" ng-model="nivel" ng-options="value as value.descripcion for (key, value) in niveles" class="form-control">
			<option>Seleccione</option>
			</select>
		</td>
  		<td>
		<select id="inputGrado" ng-model="grado" ng-options="value as value.descripcion for (key, value) in grados" class="form-control">
			<option>Seleccione</option>
			</select>
		</td>
  		<td><select id="inputParalelo" ng-model="paralelo" ng-options="value as value.descripcion for (key, value) in paralelos" class="form-control">
			<option>Seleccione</option>
			</select></td>
  		<td><select id="inputTurno" ng-model="turno" ng-options="value as value.descripcion for (key, value) in turnos" class="form-control">
			<option>Seleccione</option>
			</select></td>
  		<td></td>
		<td colspan="2">
			<button type="button" class="btn btn-primary btn-xs" ng-click="addDocente()">Adicionar</button>
		</td>  		
  	</tr>
    <tr ng-repeat="docente in docentes">
      <td>{{ $index + 1 }}</td>
      <td>{{ docente.paterno }}</td>
      <td>{{ docente.materno }}</td>
      <td>{{ docente.nombres }}</td>
      <td>{{ docente.categoria }}</td>
      <td>{{ docente.genero }}</td>      
	  <td>
        <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
        <button class="btn btn-danger btn-xs" ng-click="deleteEstudiante(estudiante.id)"><i class="fa fa-trash-o "></i></button>
      </td>
    </tr>
  </tbody>
</table>
</div>