<div class="modal-header">
	<h4 class="modal-title">
		<span class="glyphicon glyphicon-plus"></span> A&ntilde;adir Clase
	</h4>
</div>
<div class="modal-body">
	<ng-form name="newClaseForm" novalidate role="form">		
		<div class="form-group input-group-lg">
			<div class="form-panel">
				<div class="row">
			              <div class="col-sm-6 col-lg-6">
			                <div class="form-group" ng-class="{'has-error':newClaseForm.nivel.$error.required, 'has-success':newClaseForm.nivel.$valid}">
			                  <label class="col-md-4 control-label" for="nivel">Nivel:</label>
			                  <div class="col-md-8">
			                    <div class="input-group">                                            
			                      <select id="nivel" name="nivel" ng-change="selectNivel(nivel.id)" ng-model="nivel" ng-options="value as value.descripcion for (key, value) in niveles" class="form-control" required>
			                        <option value="">-- Seleccione Nivel --</option>
			                      </select>
			                      <span ng-if="newClaseForm.nivel.$error.required" class="glyphicon glyphicon-remove form-control-feedback"></span>
			                      <span ng-if="newClaseForm.nivel.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
			                    </div>
			                    <span ng-if="newClaseForm.nivel.$error.required" class="help-block">El nivel es requerido</span>
			                  </div>
			                </div>
			              </div>
			              <div class="col-sm-6 col-lg-6">                
			                <div class="form-group" ng-class="{'has-error':newClaseForm.grado.$error.required, 'has-success':newClaseForm.grado.$valid}">
			                  <label class="col-md-4 control-label" for="grado">Grado:</label>
			                  <div class="col-md-8">
			                    <div class="input-group">                      
			                      <select id="grado" name="grado" ng-model="curso.Grado" ng-options="value as value.descripcion for (key, value) in grados" class="form-control" required>
			                        <option value="">-- Seleccione Grado --</option>
			                      </select>
			                      <span ng-if="newClaseForm.grado.$error.required" class="glyphicon glyphicon-remove form-control-feedback"></span>
			                      <span ng-if="newClaseForm.grado.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>                      
			                    </div>
			                    <span ng-if="newClaseForm.grado.$error.required" class="help-block">El grado es requerido</span>
			                  </div>
			                </div>
			              </div>              
			            </div>
			            
			            <div class="row">
			              <div class="col-sm-6 col-lg-6">
			                <div class="form-group" ng-class="{'has-error':newClaseForm.paralelo.$error.required, 'has-success':newClaseForm.paralelo.$valid}">
			                  <label class="col-md-4 control-label" for="paralelo">Paralelo:</label>
			                  <div class="col-md-8">
			                    <div class="input-group">                      
			                      <select id="paralelo" name="paralelo" ng-model="curso.Paralelo" ng-options="value as value.descripcion for (key, value) in paralelos" class="form-control" required>
			                        <option value="">-- Seleccione Paralelo</option>
			                      </select>
			                      <span ng-if="newClaseForm.paralelo.$error.required" class="glyphicon glyphicon-remove form-control-feedback"></span>
			                      <span ng-if="newClaseForm.paralelo.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>                     
			                    </div>
			                    <span ng-if="newClaseForm.paralelo.$error.required" class="help-block">El paralelo es requerido</span>
			                  </div>
			                </div>
			              </div>              
			              <div class="col-sm-6 col-lg-6">                
			                <div class="form-group" ng-class="{'has-error':newClaseForm.turno.$error.required, 'has-success':newClaseForm.turno.$valid}">
			                  <label class="col-md-4 control-label" for="turno">Turno:</label>
			                  <div class="col-md-8">
			                    <div class="input-group">
			                      <select id="turno" name="turno" ng-model="curso.Turno" ng-options="value as value.descripcion for (key, value) in turnos" class="form-control" required>
			                        <option value="">-- Seleccione Turno --</option>
			                      </select>
			                      <span ng-if="newClaseForm.turno.$error.required" class="glyphicon glyphicon-remove form-control-feedback"></span>
			                      <span ng-if="newClaseForm.turno.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span> 
			                    </div>
			                    <span ng-if="newClaseForm.turno.$error.required" class="help-block">El turno es requerido</span>
			                  </div>
			                </div> 
			              </div>              
			        </div>
			        <div class="row">
			              <div class="col-sm-6 col-lg-6">
			                <div class="form-group" ng-class="{'has-error':newClaseForm.asignatura.$error.required, 'has-success':newClaseForm.asignatura.$valid}">
			                  <label class="col-md-4 control-label" for="asignatura">Asignatura :</label>
			                  <div class="col-md-8">
			                    <div class="input-group">                                            
			                      <select id="asignatura" name="asignatura" ng-model="curso.asignatura" ng-options="value as value.descripcion for (key, value) in asignaturas" class="form-control" required>
			                        <option value="">-- Seleccione Asignatura --</option>
			                      </select>
			                      <span ng-if="newClaseForm.asignatura.$error.required" class="glyphicon glyphicon-remove form-control-feedback"></span>
			                      <span ng-if="newClaseForm.asignatura.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
			                    </div>
			                    <span ng-if="newClaseForm.asignatura.$error.required" class="help-block">La Asignatura es requerida</span>
			                  </div>
			                </div>
			              </div>
			              <div class="col-sm-6 col-lg-6">
			                <div class="form-group" >
			                  <label class="col-md-4 control-label" for="color">Asigne Color :</label>
			                  <div class="col-md-8">
			                    <div class="input-group">                                            
			                      <input id="color" name="color" colorpicker="rgb" type="text" ng-model="curso.color" required/>
			                      <span ng-if="newClaseForm.color.$error.required" class="glyphicon glyphicon-remove form-control-feedback"></span>
			                      <span ng-if="newClaseForm.color.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
			                    </div>
			                    <span ng-if="newClaseForm.color.$error.required" class="help-block">La Asignatura es requerida</span>
			                  </div>
			                </div>
			              </div>			              
			        </div>
			</div>
		</div>
	</ng-form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button>
	<button type="button" class="btn btn-primary" ng-disabled="!newClaseForm.$valid" ng-click="save()" >Guardar</button>
</div>